# Caminhos
CAMINHO_W=D:\Github\fiap_datalake_covid\

# S3
BUCKET_NAME=datalake-name

# AWS
AWS_ACCESS_KEY_ID=SEU_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=SEU_SECRET
AWS_SESSION_TOKEN=SEU_TOKEN
AWS_DEFAULT_REGION=SUA_REGION